# Add any directories, files, or patterns you don't want to be tracked by version control
*.aux
*.log
*.pdf
*.eps
*.ps
*.svg
*.blg
*.png
*.dvi
*.ai
*pptx
*.bbl
*.doc
*.docx

*.out

*.gz

*.synctex

code/
doc/
pics/
submitted_to_PRL/
!figures/*.pdf
for_figures/
old_files/
old_versions/
rawdata_klindt_PRL_2016/

test_length_check.tex
*Notes.bib

# igrnores for max
*.fdb_latexmk
*.fls
#*.py
*.bak
.vscode/
*.zip
unused_untracked/
.codex
*.WSsave
